<mat-toolbar color="primary">
  <button mat-button mat-icon-button (click)="onToggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="drawerOpened" style="width: 220px"></mat-sidenav>
  <mat-sidenav-content>
    <div class="header-card mat-elevation-z1">
      <span>Stock Analysis</span>
      <span>
        <a href="/" routLink="/">Home</a>
        <mat-icon>chevron_right</mat-icon>
        <span>Stock Analysis</span>
      </span>
    </div>
    <div class="card top-card mat-elevation-z1">
      <span class="top-card__label">Most Predicted Stocks</span>
      <div class="top-card__buttons">
        <ng-template ngFor let-company [ngForOf]="topCompanies">
          <button mat-button mat-raised-button [color]="isGain(company.change) ? 'primary': 'accent'" (click)="onButtonClick(company)">
            <span>{{company.ticker}} {{company.change}}%</span>
            <mat-icon>{{isGain(company.change) ? 'arrow_upward': 'arrow_downward'}}</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>

    <div class="form-card">
      <form [formGroup]="formGroup">
        <mat-radio-group value="mm">
          <mat-radio-button value="BTC">BTC</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="ETH">ETH</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="mm">
            <input type="text" class="form-field mat-elevation-z1" value="mm"/>
          </mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
    <div class="card chart-card mat-elevation-z1">
      <div class="chart-card__top">
        <span class="chart-card__label">
          <span>Predictive Overview</span>
          <span>Probability of % Gain / Loss</span>
        </span>
        <span style="font-weight: bold; color: rgba(0,0,0, .6)">M--1 WEAK</span>
        <button mat-button mat-raised-button color="primary">Week</button>
      </div>
      <div class="ct-chart ct-perfect-fourth"></div>
    </div>

    <div class="card table-card mat-elevation-z1">
      <span>Useful Metrics</span>
      <div class="table-card__content">
        <div>
          <span>
            <span>Previous Close</span>
            <span>40.56</span>
          </span>
          <span>
            <span>Open</span>
            <span>40.18</span>
          </span>
          <span>
            <span>Bid</span>
            <span>37.78 X 34100</span>
          </span>
          <span>
            <span>Ask</span>
            <span>40.81 X 4000</span>
          </span>
        </div>
        <div>
            <span>
                <span>Days Range</span>
                <span>39.78-40.71</span>
              </span>
              <span>
                <span>52Weak Range</span>
                <span>17.41-41.33</span>
              </span>
              <span>
                <span>Volume</span>
                <span>5692811</span>
              </span>
              <span>
                <span>Avg. Volume</span>
                <span>8966818</span>
              </span>
        </div>
        <div>
            <span>
                <span>Market Cap</span>
                <span>12.25</span>
              </span>
              <span>
                <span>Beta</span>
                <span>0.61</span>
              </span>
              <span>
                <span>PE Ratio (TTM)</span>
                <span>7.65</span>
              </span>
              <span>
                <span>EPS (TTM)</span>
                <span>5.22</span>
              </span>
        </div>
        <div>
            <span>
                <span>Earnings Date</span>
                <span>8/15/2018</span>
              </span>
              <span>
                <span>Forward Dividend & yield</span>
                <span>1.51(3.79%)</span>
              </span>
              <span>
                <span>Ex-Dividend Date</span>
                <span>6/14/2018</span>
              </span>
              <span>
                <span>Ly Target Date</span>
                <span>35.46</span>
              </span>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>